---
# yamllint disable rule:line-length
name: "Release"

"on":
  push:
    branches: [main]
    tags:
      # life version e.g., 0.4.0
      - 'v[0-9]+.[0-9]+.[0-9]+'
      # alpha version e.g., 0.4.0-a
      - 'v[0-9]+.[0-9]+.[0-9]+-a[0-9]*'
      # release candidate e.g., 0.4.0-rc
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]*'
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          draft: True
          prerelease: ${{ contains(github.ref, '-a') || contains(github.ref, '-rc') }}
          files: |
            .github/workflows/build_image.yml
            .github/workflows/dependabot_validate.yml
          generate_release_notes: true
